/* ===== About Us ===== */
*{
    margin: 0px;
    padding: 0px;
}
#wpbody-content{
    padding-top: 79px;
}
.pieregister-page #wpfooter{
    position: relative;
}
.pf-admin.addons-page-admin *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sib-product-detail-zapier-apikey{
    padding: 0px 39px;
}
.sib-product-detail-zapier-apikey > code .zapier-key{
    padding: 3px;
}
.sib-product-detail-zapier-apikey > code {
    background-color: #FFF5C1;
    border: 1px solid #133950;
    border-radius: 3px;
    width: 276px;
    height: 26px;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    
}
.sib-product-detail-zapier-apikey > code .copy-icon-zapier img {
    width: 18px !important;
    height: 18px;
    margin-left: 87px;
    margin-top: 3px;
}
.sib-product-detail-zapier-apikey > code .copy-icon-zapier {
    box-shadow: none;
}

.pf-admin.addons-page-admin .addon-pf-image{
    margin-top: 18px;
    padding: 95px 10px;
}
.pf-admin.addons-page-admin .addon-pf-image img{
    width: 100%;
}
.pf-admin.addons-page-admin .pane{
    margin: 40px 20px 20px;
    padding: 30px;
    background: #fff;
}
.pf-admin.addons-page-admin h3.addon-page-title{
    font-size: 16px;
    line-height: 32px;
    color: #1a283a;
    font-weight: 400;
}

.pf-admin.addons-page-admin ul.resourceful-links{
    display: flex;
    font-size: 16px;
    margin-top: 30px;
}
.pf-admin.addons-page-admin ul.resourceful-links > li > a{
    text-decoration: none;
    color: #fff;
    box-shadow: none;
}
.pf-admin.addons-page-admin ul.resourceful-links > li{
    padding-right: 10px;
    background: #c12026;
    padding: 10px 20px;
    margin-right: 15px;
}

.automation-docs{
    padding-right: 10px !important;
    background: #c12026 !important;
    padding: 6px 20px !important;
    /* margin-right: 15px !important; */
    width: 18rem;
    border-radius: 10px;
    color: #fff !important;
    border: 1px solid #c12026 !important;
    text-align: center;
    font-size: 17px !important;
}

.pf_addons_wrap .sib-product-container .sib-product .sib-product-detail h3{
    margin: 0.8em 0 !important;
}

.pf_addons_wrap .sib-product-container .sib-product .sib-product-detail .sib-product-detail-zapier-license{
    font-size: 11px;
    color: red;
    padding: 25px 38px;
}

.pf-admin.addons-page-admin .content-row{
    display: flex;
    flex-wrap: wrap;
}
.pf-admin.addons-page-admin .pf-addons-content{
    width: 55%;
    padding-right: 5%;
}
.pf-admin.addons-page-admin .pf-addon-key-features-list li{
    font-size: 16px;
    color: #1a283a;
    font-weight: 400;
    margin: 0px;
    line-height: 2.0;
}
.pf-admin.addons-page-admin .pf-addons-key-features-heading{
    padding-top: 20px;
}
.pf-admin.addons-page-admin .addon-image-link{
    width: 45%;
}
#wpbody-content{
    padding-top: 0px !important;
}

.wrap.pie-forms{
    padding: 0px;
}

.get-addon{
    color: #ffffff !important;
    background: #c12026 !important;
    border-color: #c12026 !important;
    padding: 2px 24px !important;
    border-radius: 102px !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}

@media (max-width:980px){
    .pf-admin.addons-page-admin .addon-image-link{
        width: 100%;
        margin-top: 8%;
    }
    .pf-admin.addons-page-admin .pf-addons-content{
        width: 100%;
    }
}
@media (max-width:460px){
    .pf-admin.addons-page-admin ul.resourceful-links{
        flex-wrap: wrap;
    }
}
@media (max-width:430px){
    .pf-admin.addons-page-admin ul.resourceful-links{
        flex-wrap: wrap;
    }
}
#wpfooter{
    position: relative !important;
}
